---
import Blog from '../components/blogComponent.astro'
import {SITE} from '../config.ts'
const title = 'Blog'
const description = 'Page Description'
const car = 'Hyundai Ioniq5'
---
<Blog content={{title, description, car}}>
	<h2>Comment passer des variables</h2>
	<p>Name: {SITE.name}</p>
	<p>Title: {SITE.title}</p>
	<p>Description: {SITE.description}</p>
</Blog>